  <h3>Liste de produit</h3>
  <div *ngIf="products?.length!>0; else nodata">
     <code class="p-2">
      <b>{{products?.length}} {{products?.length!>1 ? 'Produits' : 'Produit' }}</b>
    </code>
<div class="card shadow-sm radius-10 border-0"  *ngFor="let product of products?.reverse(); index as i">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom du produit</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Color</th>
                        <th>Devise</th>
                    </tr>
                </thead>
                <tbody id="produitsTbody">
                    <tr>
                        <td>{{product.id}} </td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.color}}</td>
                        <td>{{product.currency}}</td>
                            </tr>

                </tbody>
            </table>

        </div>
         <hr>
    <app-product [product]="product" ></app-product>
    </div>

</div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalAddProduct"><b style="font-size: 1.2rem;">+</b> Add</button>
  </div>
 </div>

 <ng-template #nodata>
  <h1 style="text-align: center;padding: 5px;">Aucun produit disponible</h1>
</ng-template>

<div class="modal fade" id="modalAddProduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Produit</h5>
                <button type="button" class="btn-close annulerProductModal" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="Productdata">
                    <div class="row g-1">
                        <div class="col-md-6">
                            <label for="nom">Nom</label>
                            <input type="text" formControlName="name" id="nom" class="form-control">
                            <em class="text-danger"style="font-size: 0.8em;"
                                *ngIf="!Productdata?.get('name')?.valid && Productdata?.get('name')?.touched">Le
                                nom
                                est
                                requis
                            </em>
                        </div>
                        <div class="col-md-6">
                            <label for="nom">Coleur</label>
                            <input type="text" formControlName="color" id="color" class="form-control">
                            <em class="text-danger"style="font-size: 0.8em;"
                                *ngIf="!Productdata?.get('color')?.valid && Productdata?.get('color')?.touched">La
                                couleur
                                est
                                requise
                            </em>
                        </div>
                        <div class="col-md-6">
                            <label for="nom">Prix</label>
                            <input type="number" formControlName="price" id="price" class="form-control" min="1">
                            <em class="text-danger"style="font-size: 0.8em;"
                                *ngIf="!Productdata?.get('price')?.valid && Productdata?.get('price')?.touched">Ce champs
                                requis
                            </em>
                        </div>
                        <div class="col-md-6">
                            <label for="nom">Devise</label>
                            <input type="text" formControlName="currency" id="currency" class="form-control">
                            <em class="text-danger"style="font-size: 0.8em;"
                                *ngIf="!Productdata?.get('currency')?.valid && Productdata?.get('currency')?.touched">La
                                devise
                                est
                                requise
                            </em>
                        </div>

                        <div class="col-md-12">
                            <label for="description">Description</label>
                            <textarea id="description" formControlName="description" class="form-control"></textarea>
                            <em class="text-danger" style="font-size: 0.8em;"
                                *ngIf="!Productdata?.get('description')?.valid && Productdata?.get('description')?.touched">La
                                description est
                                requise
                            </em>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button data-bs-dismiss="modal" class="me-2 btn btn-secondary annulerProductModal"
                            type="button" #modaldismiss> Annuler
                        </button>
                        <button class="me-2 btn btn-success" type="button" [disabled]="!Productdata.valid" (click)="onCreateProduct()"> Save

                                            </button>


                    </div>
                </form>
            </div>
        </div>
    </div>

